
.aboutPageContainer{
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/29/19/db/2919dba6073b5ed5a9036bd08859000b.jpg");
    background-size: 100% 100%; 
    margin: 0px;
    display: flex;
    flex-direction: column;
     align-items: center;
    background-size: cover;
    
}
.topContainer{
    display: flex;
    margin: 2rem;
    padding: 2rem;
    width: 80%;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    box-shadow: 4px 4px 0px white,-4px -4px 0px white ;

}
.topTextSection{
    margin: 2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    font-size: 1rem;
}


.video{
    height: 20rem;
    width: 100%;
    /* padding: 1rem; */
    margin-left: 2rem;
}
.topTextSection button{
    margin-top: 1rem;
    width: 6rem;
    height: 3rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.topTextSection button:hover{
    background-color: white;
    color: rgb(255, 0, 0);
}

.aboutHeading{
    color: rgb(255, 0, 0);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.bottomTextSection{
    margin: 2rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    font-size: 1.2rem;
}
.bottomTextSection ul{
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    gap: 0.5rem;
}
.bottomContainer{
    display: flex;
    margin: 2rem;
    padding: 2rem;
    width: 80%;   
    border-radius: 1.5rem;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 0px white,-4px -4px 0px white ;
}

@media screen and (max-width: 1024px){
 .aboutPageContainer{
    /* display: block; */
    width: 100%;
 }
 .topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .bottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 }   
